
table {
    width: 100%;
    border: 1px solid black;
    
    margin-top: 20px;
}

.green {
    background-color: green;
    color: white;
}
/* ফেল করলে লাল (৫০ বা তার কম) */
.red {
    background-color: red;
    color: white;
}

/* এরর মেসেজ লাল */
#msg {
    color: r
